In [5]:
from icecream import ic
import csv
import pandas as pd
import os
import matplotlib.pyplot as ptl

In [6]:
file_list = ['S006.csv','S008.csv','S009.csv','S010.csv','S012.csv','S013.csv','S014.csv','S015.csv','S016.csv',
             'S017.csv','S018.csv','S019.csv','S020.csv','S021.csv','S022.csv','S023.csv','S024.csv','S025.csv',
             'S026.csv','S027.csv','S028.csv','S029.csv',]

file_path = os.path.join('harth/', file_list[0])

In [14]:
df = pd.read_csv(os.path.join('harth/', file_list[0]))
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408709 entries, 0 to 408708
Data columns (total 8 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  408709 non-null  object
 1   back_x     408709 non-null  float64
 2   back_y     408709 non-null  float64
 3   back_z     408709 non-null  float64
 4   thigh_x    408709 non-null  float64
 5   thigh_y    408709 non-null  float64
 6   thigh_z    408709 non-null  float64
 7   label      408709 non-null  int64
dtypes: float64(6), int64(1), object(1)
memory usage: 24.9+ MB

In [11]:
df = pd.read_csv(os.path.join('harth/', file_list[0]))
df.head()

,timestamp,back_x,back_y,back_z,thigh_x,thigh_y,thigh_z,label
0,2019-01-12 00:00:00.000,-0.760242,0.299570,0.468570,-5.092732,-0.298644,0.709439,6
1,2019-01-12 00:00:00.010,-0.530138,0.281880,0.319987,0.900547,0.286944,0.340309,6
2,2019-01-12 00:00:00.020,-1.170922,0.186353,-0.167010,-0.035442,-0.078423,-0.515212,6
3,2019-01-12 00:00:00.030,-0.648772,0.016579,-0.054284,-1.554248,-0.950978,-0.221140,6
4,2019-01-12 00:00:00.040,-0.355071,-0.051831,-0.113419,-0.547471,0.140903,-0.653782,6

In [ ]:
df = pd.read_csv(os.path.join('harth/', file_list[0]))
df.isna().sum()

In [13]:
df = pd.read_csv(os.path.join('harth/', file_list[0]))
df.describe()

,back_x,back_y,back_z,thigh_x,thigh_y,thigh_z,label
count,408709.000000,408709.000000,408709.000000,408709.000000,408709.000000,408709.000000,408709.000000
mean,-0.802201,-0.000687,-0.274718,-0.370317,0.143471,0.617527,10.190187
std,0.238347,0.189062,0.441805,0.506666,0.213864,0.536430,20.328336
min,-3.542889,-3.016498,-1.024363,-6.844045,-5.757406,-4.884791,1.000000
25%,-0.983647,0.001063,-0.702338,-0.952840,0.022534,0.144114,6.000000
50%,-0.937195,0.033240,-0.277446,-0.277711,0.086248,0.924066,7.000000
75%,-0.654541,0.074822,0.064811,0.068999,0.246292,1.001372,7.000000
max,0.952109,2.569339,1.628023,3.898547,4.602909,5.391660,130.000000

In [1]:
df = pd.read_csv(os.path.join('harth/', file_list[4]))
df.boxplot()
ptl.show()

NameError: name 'pd' is not defined

In [ ]:
dd